<h2>iCount App</h2>
<p> Record and Retreive data on People in Need</p>


<div class="row">
  <%=link_to "Enter Data", new_client_path, :class=>"button"%>
</div>
<div class="row">
  <%=link_to "View Clients", client_index_path, :class=>"button"%>
</div>
